<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<body>
    <div id="app">
        <h2>{{username}}</h2>
        <h1>单行文本输入框</h1>
        <input type="text" name="username" v-model="username" value="" />
        <h1>多行文本输入框</h1>
        <textarea name="" id="" cols="30" rows="10" v-model="username"></textarea>


        <h1>复选框: 选择喜欢的水果</h1>
        <span v-for="item in fruits">
            {{item}}
            <input type="checkbox" name="fruits" v-model="checkFruits" :value="item">
        </span>
        <h2>{{checkFruits}}</h2>

        <h1>单选框: 选择最喜欢的水果</h1>
        <span v-for="item in fruits">
            {{item}}
            <input type="radio" name="zfruits" v-model="radioFruits" :value="item">
        </span>
        <h2>{{radioFruits}}</h2>

        <h1>选项框：选择居住的城市</h1>
        <select name="" id=""  v-model="chooseCity">
            <option v-for="item in citys" :value="item">{{item}}</option>
        </select>
        <h3>{{chooseCity}}</h3>

        <h1>选项框：喜欢的城市</h1>
        <select name="" id=""  v-model="moreCity" multiple="multiple">
            <option v-for="item in citys" :value="item">{{item}}</option>
        </select>
        <h3>{{moreCity}}</h3>

        <h1>将字符串变为数字获取</h1>
        <input type="text" name="age" v-model.number="age" value="">
    </div>

    <script>
        let app = new Vue({
            el: "#app",
            data: {
                username: "Simon",
                fruits: ['apple', 'pear', 'banana', 'grape'],
                checkFruits: [],
                radioFruits: "",
                citys:['Beijing', 'Shanghai', 'Shenzhen'],
                chooseCity:"",
                moreCity:[],
                age: 16
            },
            watch: {
                age: function(val) {
                    console.log(val)
                }
            }
        })
    </script>
</body>
</html>